<footer class="footer">

  <small>
    Cloud Application Development | 
    Leon Mulvaney | 14445618
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home",   root_path %></li>
      <li><%= link_to "Contact", "#" %></li>
    </ul>
  </nav>
</footer>